In [6]:
import sqlite3 as sl

con = sl.connect('Db_Test.db')

In [4]:
con.execute("""
        CREATE TABLE USER (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            name TEXT,
            age INTEGER
        );
    """)

OperationalError: table USER already exists

In [26]:
sql = 'INSERT INTO USER (id, name, age) values(?, ?, ?)'
data = [
    (7, 'ib', 28),
    (8, 'tint', 29),
    (9, 'Mjay', 22)
]
con.executemany(sql, data)

In [27]:
data = con.execute("SELECT * FROM USER")
for row in data:
    print(row)

(4, 'lanre', 24)
(5, 'Biodun', 25)
(6, 'Moji', 27)
(7, 'ib', 28)
(8, 'tint', 29)
(9, 'Mjay', 22)

In [21]:
data = con.execute("Select * From Covid_Death_csv Where continent is not null order by 1,2 ")
for row in data:
    print(row)

99999, 2369.7889999999998, 3.364, 5.421, 94.867, 0.6729999999999999, 0.682, 0.63, '', '', '', '', '', '', '', '')
(89587, 'ZWE', 'Africa', 'Zimbabwe', '2021-02-16', 14862927.0, 35315.0, 93.0, 76.286, 1414.0, 4.0, 8.714, 2376.0460000000003, 6.257000000000001, 5.132999999999999, 95.13600000000001, 0.26899999999999996, 0.586, 0.64, '', '', '', '', '', '', '', '')
(89588, 'ZWE', 'Africa', 'Zimbabwe', '2021-02-17', 14862927.0, 35423.0, 108.0, 79.857, 1418.0, 4.0, 7.7139999999999995, 2383.313, 7.266, 5.372999999999999, 95.405, 0.26899999999999996, 0.519, 0.64, '', '', '', '', '', '', '', '')
(89589, 'ZWE', 'Africa', 'Zimbabwe', '2021-02-18', 14862927.0, 35543.0, 120.0, 97.0, 1420.0, 2.0, 8.0, 2391.386, 8.074, 6.526, 95.54, 0.135, 0.5379999999999999, 0.65, '', '', '', '', '', '', '', '')
(89590, 'ZWE', 'Africa', 'Zimbabwe', '2021-02-19', 14862927.0, 35710.0, 167.0, 95.0, 1430.0, 10.0, 5.2860000000000005, 2402.6220000000003, 11.235999999999999, 6.392, 96.213, 0.6729999999999999, 0.35600000000000004, 0.65, '', '', '', '', '', '', '', '')
(89591, 'ZWE', 'Africa', 'Zimbabwe', '2021-02-20', 14862927.0, 35768.0, 58.0, 94.85700000000001, 1432.0, 2.0, 4.857, 2406.525, 3.9019999999999997, 6.382000000000001, 96.34700000000001, 0.135, 0.327, 0.64, '', '', '', '', '', '', '', '')
(89592, 'ZWE', 'Africa', 'Zimbabwe', '2021-02-21', 14862927.0, 35796.0, 28.0, 89.14299999999999, 1436.0, 4.0, 5.143, 2408.409, 1.8840000000000001, 5.997999999999999, 96.616, 0.26899999999999996, 0.34600000000000003, 0.63, '', '', '', '', '', '', '', '')
(89593, 'ZWE', 'Africa', 'Zimbabwe', '2021-02-22', 14862927.0, 35862.0, 66.0, 91.429, 1441.0, 5.0, 4.428999999999999, 2412.849, 4.441, 6.151, 96.95299999999999, 0.336, 0.298, 0.63, '', '', '', '', '', '', '', '')
(89594, 'ZWE', 'Africa', 'Zimbabwe', '2021-02-23', 14862927.0, 35910.0, 48.0, 85.0, 1448.0, 7.0, 4.857, 2416.0789999999997, 3.23, 5.718999999999999, 97.42399999999999, 0.47100000000000003, 0.327, 0.62, '', '', '', '', '', '', '', '')
(89595, 'ZWE', 'Africa', 'Zimbabwe', '2021-02-24', 14862927.0, 35960.0, 50.0, 76.714, 1456.0, 8.0, 5.428999999999999, 2419.4429999999998, 3.364, 5.1610000000000005, 97.962, 0.5379999999999999, 0.365, 0.62, '', '', '', '', '', '', '', '')
(89596, 'ZWE', 'Africa', 'Zimbabwe', '2021-02-25', 14862927.0, 35994.0, 34.0, 64.429, 1458.0, 2.0, 5.428999999999999, 2421.73, 2.2880000000000003, 4.335, 98.096, 0.135, 0.365, 0.61, '', '', '', '', '', '', '', '')
(89597, 'ZWE', 'Africa', 'Zimbabwe', '2021-02-26', 14862927.0, 36044.0, 50.0, 47.714, 1463.0, 5.0, 4.7139999999999995, 2425.094, 3.364, 3.21, 98.43299999999999, 0.336, 0.317, 0.62, '', '', '', '', '', '', '', '')
(89598, 'ZWE', 'Africa', 'Zimbabwe', '2021-02-27', 14862927.0, 36058.0, 14.0, 41.428999999999995, 1463.0, 0.0, 4.428999999999999, 2426.036, 0.9420000000000001, 2.787, 98.43299999999999, 0.0, 0.298, 0.62, '', '', '', '', '', '', '', '')
(89599, 'ZWE', 'Africa', 'Zimbabwe', '2021-02-28', 14862927.0, 36089.0, 31.0, 41.857, 1463.0, 0.0, 3.8569999999999998, 2428.1220000000003, 2.086, 2.8160000000000003, 98.43299999999999, 0.0, 0.26, 0.63, '', '', '', '', '', '', '', '')
(89600, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-01', 14862927.0, 36115.0, 26.0, 36.143, 1468.0, 5.0, 3.8569999999999998, 2429.871, 1.749, 2.432, 98.76899999999999, 0.336, 0.26, 0.64, '', '', '', '', '', '', '', '')
(89601, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-02', 14862927.0, 36148.0, 33.0, 34.0, 1472.0, 4.0, 3.429, 2432.092, 2.22, 2.2880000000000003, 99.038, 0.26899999999999996, 0.231, 0.64, '', '', '', '', '', '', '', '')
(89602, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-03', 14862927.0, 36179.0, 31.0, 31.285999999999998, 1478.0, 6.0, 3.1430000000000002, 2434.177, 2.086, 2.105, 99.44200000000001, 0.40399999999999997, 0.21100000000000002, 0.65, '', '', '', '', '', '', '', '')
(89603, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-04', 14862927.0, 36223.0, 44.0, 32.714, 1483.0, 5.0, 3.571, 2437.138, 2.96, 2.201, 99.77799999999999, 0.336, 0.24, 0.66, '', '', '', '', '', '', '', '')
(89604, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-05', 14862927.0, 36248.0, 25.0, 29.143, 1484.0, 1.0, 3.0, 2438.82, 1.682, 1.9609999999999999, 99.846, 0.067, 0.20199999999999999, 0.67, '', '', '', '', '', '', '', '')
(89605, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-06', 14862927.0, 36260.0, 12.0, 28.857, 1485.0, 1.0, 3.1430000000000002, 2439.627, 0.807, 1.942, 99.913, 0.067, 0.21100000000000002, 0.69, '', '', '', '', '', '', '', '')
(89606, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-07', 14862927.0, 36271.0, 11.0, 26.0, 1485.0, 0.0, 3.1430000000000002, 2440.367, 0.74, 1.749, 99.913, 0.0, 0.21100000000000002, 0.71, '', '', '', '', '', '', '', '')
(89607, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-08', 14862927.0, 36289.0, 18.0, 24.857, 1487.0, 2.0, 2.714, 2441.578, 1.2109999999999999, 1.672, 100.04799999999999, 0.135, 0.183, 0.73, '', '', '', '', '', '', '', '')
(89608, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-09', 14862927.0, 36321.0, 32.0, 24.714000000000002, 1489.0, 2.0, 2.4290000000000003, 2443.731, 2.153, 1.663, 100.182, 0.135, 0.163, 0.75, '', '', '', '', '', '', '', '')
(89609, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-10', 14862927.0, 36341.0, 20.0, 23.143, 1489.0, 0.0, 1.571, 2445.077, 1.3459999999999999, 1.557, 100.182, 0.0, 0.106, 0.77, '', '', '', '', '', '', '', '')
(89610, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-11', 14862927.0, 36377.0, 36.0, 22.0, 1492.0, 3.0, 1.286, 2447.499, 2.4219999999999997, 1.48, 100.384, 0.20199999999999999, 0.087, 0.79, '', '', '', '', '', '', '', '')
(89611, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-12', 14862927.0, 36423.0, 46.0, 25.0, 1496.0, 4.0, 1.714, 2450.594, 3.095, 1.682, 100.65299999999999, 0.26899999999999996, 0.115, 0.81, '', '', '', '', '', '', '', '')
(89612, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-13', 14862927.0, 36471.0, 48.0, 30.143, 1501.0, 5.0, 2.286, 2453.824, 3.23, 2.028, 100.99, 0.336, 0.154, 0.83, '', '', '', '', '', '', '', '')
(89613, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-14', 14862927.0, 36484.0, 13.0, 30.429000000000002, 1503.0, 2.0, 2.571, 2454.698, 0.875, 2.0469999999999997, 101.124, 0.135, 0.17300000000000001, 0.84, '', '', '', '', '', '', '', '')
(89614, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-15', 14862927.0, 36504.0, 20.0, 30.714000000000002, 1504.0, 1.0, 2.4290000000000003, 2456.044, 1.3459999999999999, 2.0669999999999997, 101.191, 0.067, 0.163, 0.85, '', '', '', '', '', '', '', '')
(89615, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-16', 14862927.0, 36535.0, 31.0, 30.570999999999998, 1507.0, 3.0, 2.571, 2458.13, 2.086, 2.057, 101.39299999999999, 0.20199999999999999, 0.17300000000000001, 0.85, '', '', '', '', '', '', '', '')
(89616, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-17', 14862927.0, 36552.0, 17.0, 30.143, 1508.0, 1.0, 2.714, 2459.2729999999997, 1.1440000000000001, 2.028, 101.46, 0.067, 0.183, 0.86, '', '', '', '', '', '', '', '')
(89617, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-18', 14862927.0, 36611.0, 59.0, 33.429, 1509.0, 1.0, 2.4290000000000003, 2463.243, 3.97, 2.249, 101.52799999999999, 0.067, 0.163, 0.87, '', '', '', '', '', '', '', '')
(89618, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-19', 14862927.0, 36652.0, 41.0, 32.714, 1510.0, 1.0, 2.0, 2466.001, 2.759, 2.201, 101.595, 0.067, 0.135, 0.87, '', '', '', '', '', '', '', '')
(89619, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-20', 14862927.0, 36662.0, 10.0, 27.285999999999998, 1510.0, 0.0, 1.286, 2466.674, 0.6729999999999999, 1.8359999999999999, 101.595, 0.0, 0.087, 0.87, '', '', '', '', '', '', '', '')
(89620, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-21', 14862927.0, 36665.0, 3.0, 25.857, 1512.0, 2.0, 1.286, 2466.876, 0.20199999999999999, 1.74, 101.73, 0.135, 0.087, 0.88, '', '', '', '', '', '', '', '')
(89621, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-22', 14862927.0, 36684.0, 19.0, 25.714000000000002, 1514.0, 2.0, 1.429, 2468.154, 1.278, 1.73, 101.86399999999999, 0.135, 0.096, 0.89, '', '', '', '', '', '', '', '')
(89622, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-23', 14862927.0, 36717.0, 33.0, 26.0, 1516.0, 2.0, 1.286, 2470.375, 2.22, 1.749, 101.999, 0.135, 0.087, 0.9, '', '', '', '', '', '', '', '')
(89623, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-24', 14862927.0, 36749.0, 32.0, 28.143, 1516.0, 0.0, 1.143, 2472.528, 2.153, 1.893, 101.999, 0.0, 0.077, 0.91, '', '', '', '', '', '', '', '')
(89624, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-25', 14862927.0, 36778.0, 29.0, 23.857, 1518.0, 2.0, 1.286, 2474.479, 1.9509999999999998, 1.605, 102.133, 0.135, 0.087, 0.91, '', '', '', '', '', '', '', '')
(89625, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-26', 14862927.0, 36805.0, 27.0, 21.857, 1518.0, 0.0, 1.143, 2476.2960000000003, 1.817, 1.4709999999999999, 102.133, 0.0, 0.077, 0.92, '', '', '', '', '', '', '', '')
(89626, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-27', 14862927.0, 36818.0, 13.0, 22.285999999999998, 1519.0, 1.0, 1.286, 2477.17, 0.875, 1.499, 102.20100000000001, 0.067, 0.087, 0.93, '', '', '', '', '', '', '', '')
(89627, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-28', 14862927.0, 36822.0, 4.0, 22.429000000000002, 1520.0, 1.0, 1.143, 2477.439, 0.26899999999999996, 1.5090000000000001, 102.26799999999999, 0.067, 0.077, 0.94, '', '', '', '', '', '', '', '')
(89628, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-29', 14862927.0, 36839.0, 17.0, 22.143, 1520.0, 0.0, 0.857, 2478.583, 1.1440000000000001, 1.49, 102.26799999999999, 0.0, 0.057999999999999996, 0.96, '', '', '', '', '', '', '', '')
(89629, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-30', 14862927.0, 36839.0, 0.0, 17.429000000000002, 1520.0, 0.0, 0.5710000000000001, 2478.583, 0.0, 1.173, 102.26799999999999, 0.0, 0.038, 0.98, '', '', '', '', '', '', '', '')
(89630, 'ZWE', 'Africa', 'Zimbabwe', '2021-03-31', 14862927.0, 36882.0, 43.0, 19.0, 1523.0, 3.0, 1.0, 2481.476, 2.8930000000000002, 1.278, 102.47, 0.20199999999999999, 0.067, 1.02, '', '', '', '', '', '', '', '')
(89631, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-01', 14862927.0, 36896.0, 14.0, 16.857, 1523.0, 0.0, 0.7140000000000001, 2482.4179999999997, 0.9420000000000001, 1.1340000000000001, 102.47, 0.0, 0.048, 1.03, '', '', '', '', '', '', '', '')
(89632, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-02', 14862927.0, 36903.0, 7.0, 14.0, 1524.0, 1.0, 0.857, 2482.889, 0.47100000000000003, 0.9420000000000001, 102.537, 0.067, 0.057999999999999996, 1.06, '', '', '', '', '', '', '', '')
(89633, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-03', 14862927.0, 36911.0, 8.0, 13.286, 1524.0, 0.0, 0.7140000000000001, 2483.427, 0.5379999999999999, 0.894, 102.537, 0.0, 0.048, 1.1, '', '', '', '', '', '', '', '')
(89634, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-04', 14862927.0, 36923.0, 12.0, 14.429, 1525.0, 1.0, 0.7140000000000001, 2484.235, 0.807, 0.971, 102.604, 0.067, 0.048, 1.15, '', '', '', '', '', '', '', '')
(89635, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-05', 14862927.0, 36934.0, 11.0, 13.571, 1525.0, 0.0, 0.7140000000000001, 2484.975, 0.74, 0.9129999999999999, 102.604, 0.0, 0.048, 1.2, '', '', '', '', '', '', '', '')
(89636, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-06', 14862927.0, 36966.0, 32.0, 18.143, 1531.0, 6.0, 1.571, 2487.1279999999997, 2.153, 1.2209999999999999, 103.008, 0.40399999999999997, 0.106, 1.25, '', '', '', '', '', '', '', '')
(89637, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-07', 14862927.0, 36984.0, 18.0, 14.571, 1531.0, 0.0, 1.143, 2488.339, 1.2109999999999999, 0.98, 103.008, 0.0, 0.077, 1.3, '', '', '', '', '', '', '', '')
(89638, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-08', 14862927.0, 37052.0, 68.0, 22.285999999999998, 1532.0, 1.0, 1.286, 2492.9139999999998, 4.575, 1.499, 103.075, 0.067, 0.087, 1.34, '', '', '', '', '', '', '', '')
(89639, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-09', 14862927.0, 37147.0, 95.0, 34.857, 1535.0, 3.0, 1.571, 2499.306, 6.392, 2.345, 103.277, 0.20199999999999999, 0.106, 1.37, '', '', '', '', '', '', '', '')
(89640, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-10', 14862927.0, 37273.0, 126.0, 51.714, 1538.0, 3.0, 2.0, 2507.783, 8.477, 3.4789999999999996, 103.479, 0.20199999999999999, 0.135, 1.36, '', '', '', '', '', '', '', '')
(89641, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-11', 14862927.0, 37288.0, 15.0, 52.143, 1538.0, 0.0, 1.857, 2508.7929999999997, 1.0090000000000001, 3.508, 103.479, 0.0, 0.125, 1.32, '', '', '', '', '', '', '', '')
(89642, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-12', 14862927.0, 37307.0, 19.0, 53.286, 1542.0, 4.0, 2.4290000000000003, 2510.071, 1.278, 3.585, 103.74799999999999, 0.26899999999999996, 0.163, 1.29, '', '', '', '', '', '', '', '')
(89643, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-13', 14862927.0, 37330.0, 23.0, 52.0, 1543.0, 1.0, 1.714, 2511.618, 1.547, 3.4989999999999997, 103.815, 0.067, 0.115, 1.28, '', '', '', '', '', '', '', '')
(89644, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-14', 14862927.0, 37369.0, 39.0, 55.0, 1548.0, 5.0, 2.4290000000000003, 2514.242, 2.6239999999999997, 3.7, 104.152, 0.336, 0.163, 1.27, '', '', '', '', '', '', '', '')
(89645, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-15', 14862927.0, 37422.0, 53.0, 52.857, 1550.0, 2.0, 2.571, 2517.808, 3.5660000000000003, 3.556, 104.286, 0.135, 0.17300000000000001, 1.26, '', '', '', '', '', '', '', '')
(89646, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-16', 14862927.0, 37534.0, 112.0, 55.286, 1551.0, 1.0, 2.286, 2525.344, 7.5360000000000005, 3.72, 104.354, 0.067, 0.154, 1.26, '', '', '', '', '', '', '', '')
(89647, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-17', 14862927.0, 37699.0, 165.0, 60.857, 1552.0, 1.0, 2.0, 2536.445, 11.100999999999999, 4.095, 104.421, 0.067, 0.135, 1.24, '', '', '', '', '', '', '', '')
(89648, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-18', 14862927.0, 37751.0, 52.0, 66.143, 1553.0, 1.0, 2.1430000000000002, 2539.944, 3.4989999999999997, 4.45, 104.488, 0.067, 0.14400000000000002, 1.2, '', '', '', '', '', '', '', '')
(89649, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-19', 14862927.0, 37859.0, 108.0, 78.857, 1553.0, 0.0, 1.571, 2547.21, 7.266, 5.306, 104.488, 0.0, 0.106, 1.15, '', '', '', '', '', '', '', '')
(89650, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-20', 14862927.0, 37875.0, 16.0, 77.857, 1554.0, 1.0, 1.571, 2548.2870000000003, 1.077, 5.2379999999999995, 104.555, 0.067, 0.106, 1.09, '', '', '', '', '', '', '', '')
(89651, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-21', 14862927.0, 37980.0, 105.0, 87.286, 1555.0, 1.0, 1.0, 2555.351, 7.065, 5.872999999999999, 104.62299999999999, 0.067, 0.067, 1.05, '', '', '', '', '', '', '', '')
(89652, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-22', 14862927.0, 38018.0, 38.0, 85.14299999999999, 1555.0, 0.0, 0.7140000000000001, 2557.908, 2.557, 5.729, 104.62299999999999, 0.0, 0.048, 1.0, '', '', '', '', '', '', '', '')
(89653, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-23', 14862927.0, 38045.0, 27.0, 73.0, 1556.0, 1.0, 0.7140000000000001, 2559.725, 1.817, 4.912, 104.69, 0.067, 0.048, 0.96, '', '', '', '', '', '', '', '')
(89654, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-24', 14862927.0, 38064.0, 19.0, 52.143, 1556.0, 0.0, 0.5710000000000001, 2561.0029999999997, 1.278, 3.508, 104.69, 0.0, 0.038, 0.93, '', '', '', '', '', '', '', '')
(89655, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-25', 14862927.0, 38086.0, 22.0, 47.857, 1557.0, 1.0, 0.5710000000000001, 2562.4829999999997, 1.48, 3.22, 104.757, 0.067, 0.038, 0.91, '', '', '', '', '', '', '', '')
(89656, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-26', 14862927.0, 38102.0, 16.0, 34.714, 1560.0, 3.0, 1.0, 2563.56, 1.077, 2.336, 104.959, 0.20199999999999999, 0.067, 0.89, '', '', '', '', '', '', '', '')
(89657, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-27', 14862927.0, 38164.0, 62.0, 41.286, 1565.0, 5.0, 1.571, 2567.731, 4.171, 2.778, 105.296, 0.336, 0.106, 0.88, '', '', '', '', '', '', '', '')
(89658, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-28', 14862927.0, 38191.0, 27.0, 30.143, 1565.0, 0.0, 1.429, 2569.548, 1.817, 2.028, 105.296, 0.0, 0.096, 0.85, '', '', '', '', '', '', '', '')
(89659, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-29', 14862927.0, 38235.0, 44.0, 31.0, 1567.0, 2.0, 1.714, 2572.508, 2.96, 2.086, 105.43, 0.135, 0.115, 0.83, '', '', '', '', '', '', '', '')
(89660, 'ZWE', 'Africa', 'Zimbabwe', '2021-04-30', 14862927.0, 38257.0, 22.0, 30.285999999999998, 1567.0, 0.0, 1.571, 2573.988, 1.48, 2.0380000000000003, 105.43, 0.0, 0.106, 0.82, '', '', '', '', '', '', '', '')
(89661, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-01', 14862927.0, 38260.0, 3.0, 28.0, 1568.0, 1.0, 1.714, 2574.19, 0.20199999999999999, 1.8840000000000001, 105.49700000000001, 0.067, 0.115, 0.81, '', '', '', '', '', '', '', '')
(89662, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-02', 14862927.0, 38281.0, 21.0, 27.857, 1570.0, 2.0, 1.857, 2575.603, 1.413, 1.874, 105.632, 0.135, 0.125, 0.81, '', '', '', '', '', '', '', '')
(89663, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-03', 14862927.0, 38293.0, 12.0, 27.285999999999998, 1573.0, 3.0, 1.857, 2576.41, 0.807, 1.8359999999999999, 105.834, 0.20199999999999999, 0.125, 0.81, '', '', '', '', '', '', '', '')
(89664, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-04', 14862927.0, 38327.0, 34.0, 23.285999999999998, 1574.0, 1.0, 1.286, 2578.698, 2.2880000000000003, 1.567, 105.90100000000001, 0.067, 0.087, 0.81, '', '', '', '', '', '', '', '')
(89665, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-05', 14862927.0, 38357.0, 30.0, 23.714000000000002, 1574.0, 0.0, 1.286, 2580.716, 2.0180000000000002, 1.5959999999999999, 105.90100000000001, 0.0, 0.087, 0.8, '', '', '', '', '', '', '', '')
(89666, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-06', 14862927.0, 38398.0, 41.0, 23.285999999999998, 1575.0, 1.0, 1.143, 2583.475, 2.759, 1.567, 105.96799999999999, 0.067, 0.077, 0.8, '', '', '', '', '', '', '', '')
(89667, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-07', 14862927.0, 38403.0, 5.0, 20.857, 1576.0, 1.0, 1.286, 2583.811, 0.336, 1.403, 106.036, 0.067, 0.087, 0.79, '', '', '', '', '', '', '', '')
(89668, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-08', 14862927.0, 38414.0, 11.0, 22.0, 1576.0, 0.0, 1.143, 2584.551, 0.74, 1.48, 106.036, 0.0, 0.077, 0.79, '', '', '', '', '', '', '', '')
(89669, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-09', 14862927.0, 38419.0, 5.0, 19.714000000000002, 1576.0, 0.0, 0.857, 2584.888, 0.336, 1.3259999999999998, 106.036, 0.0, 0.057999999999999996, 0.8, '', '', '', '', '', '', '', '')
(89670, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-10', 14862927.0, 38433.0, 14.0, 20.0, 1576.0, 0.0, 0.429, 2585.83, 0.9420000000000001, 1.3459999999999999, 106.036, 0.0, 0.028999999999999998, 0.81, '', '', '', '', '', '', '', '')
(89671, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-11', 14862927.0, 38448.0, 15.0, 17.285999999999998, 1579.0, 3.0, 0.7140000000000001, 2586.839, 1.0090000000000001, 1.163, 106.23700000000001, 0.20199999999999999, 0.048, 0.82, '', '', '', '', '', '', '', '')
(89672, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-12', 14862927.0, 38466.0, 18.0, 15.571, 1579.0, 0.0, 0.7140000000000001, 2588.05, 1.2109999999999999, 1.048, 106.23700000000001, 0.0, 0.048, 0.83, '', '', '', '', '', '', '', '')
(89673, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-13', 14862927.0, 38491.0, 25.0, 13.286, 1582.0, 3.0, 1.0, 2589.732, 1.682, 0.894, 106.439, 0.20199999999999999, 0.067, 0.84, '', '', '', '', '', '', '', '')
(89674, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-14', 14862927.0, 38535.0, 44.0, 18.857, 1582.0, 0.0, 0.857, 2592.6929999999998, 2.96, 1.2690000000000001, 106.439, 0.0, 0.057999999999999996, 0.86, '', '', '', '', '', '', '', '')
(89675, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-15', 14862927.0, 38554.0, 19.0, 20.0, 1582.0, 0.0, 0.857, 2593.971, 1.278, 1.3459999999999999, 106.439, 0.0, 0.057999999999999996, 0.85, '', '', '', '', '', '', '', '')
(89676, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-16', 14862927.0, 38560.0, 6.0, 20.143, 1582.0, 0.0, 0.857, 2594.375, 0.40399999999999997, 1.355, 106.439, 0.0, 0.057999999999999996, 0.85, '', '', '', '', '', '', '', '')
(89677, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-17', 14862927.0, 38572.0, 12.0, 19.857, 1582.0, 0.0, 0.857, 2595.1820000000002, 0.807, 1.3359999999999999, 106.439, 0.0, 0.057999999999999996, '', '', '', '', '', '', '', '', '')
(89678, 'ZWE', 'Africa', 'Zimbabwe', '2021-05-18', 14862927.0, 38595.0, 23.0, 21.0, 1583.0, 1.0, 0.5710000000000001, 2596.729, 1.547, 1.413, 106.507, 0.067, 0.038, '', '', '', '', '', '', '', '', '')

In [23]:
import pandas as pd

In [25]:
df = pd.read_sql('''
   Select iso_code, continent, location, date, population From Covid_Death_csv Where continent is not null order by 1,2
''', con)
df.head(10)

  iso_code      continent location        date population
0      ABW  North America    Aruba  2021-03-29     106766
1      ABW  North America    Aruba  2021-03-30     106766
2      ABW  North America    Aruba  2021-03-31     106766
3      ABW  North America    Aruba  2021-04-01     106766
4      ABW  North America    Aruba  2021-04-02     106766
5      ABW  North America    Aruba  2021-04-03     106766
6      ABW  North America    Aruba  2021-04-04     106766
7      ABW  North America    Aruba  2021-04-05     106766
8      ABW  North America    Aruba  2021-04-06     106766
9      ABW  North America    Aruba  2021-04-07     106766

In [42]:
df = pd.read_sql('''
Select Location, date, Population, total_cases,  (total_cases/population)*100 as PercentPopulationInfected From     Covid_Death_csv order by 1,2
''', con)
df.head()

      location        date   population total_cases  PercentPopulationInfected
0  Afghanistan  2020-02-24  3.89283e+07           1                   0.000003
1  Afghanistan  2020-02-25  3.89283e+07           1                   0.000003
2  Afghanistan  2020-02-26  3.89283e+07           1                   0.000003
3  Afghanistan  2020-02-27  3.89283e+07           1                   0.000003
4  Afghanistan  2020-02-28  3.89283e+07           1                   0.000003

In [43]:
df = pd.read_sql('''
Select Location, Population, MAX(total_cases) as HighestInfectionCount,  Max((total_cases/population))*100 as PercentPopulationInfected From Covid_Death_csv Group by Location, Population order by PercentPopulationInfected desc
''', con)
df.head()

     location   population HighestInfectionCount  PercentPopulationInfected
0     Andorra        77265                 13569                  17.561639
1  Montenegro       628062                 98971                  15.758158
2     Czechia   1.0709e+07           1.65422e+06                  15.447024
3  San Marino        33938                  5087                  14.989098
4    Slovenia  2.07893e+06                                        12.021605

In [31]:
df = pd.read_sql('''
Select * From Covid_Death_csv Where continent is not null order by 1,2 
''', con)
df.head()

,Column1,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,0,AFG,Asia,Afghanistan,2020-02-24,3.89283e+07,1,1,,,...,,,,,,,,,,
1,1,AFG,Asia,Afghanistan,2020-02-25,3.89283e+07,1,0,,,...,,,,,,,,,,
2,2,AFG,Asia,Afghanistan,2020-02-26,3.89283e+07,1,0,,,...,,,,,,,,,,
3,3,AFG,Asia,Afghanistan,2020-02-27,3.89283e+07,1,0,,,...,,,,,,,,,,
4,4,AFG,Asia,Afghanistan,2020-02-28,3.89283e+07,1,0,,,...,,,,,,,,,,

In [32]:
df.columns

Index(['Column1', 'iso_code', 'continent', 'location', 'date', 'population',
       'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths',
       'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million'],
      dtype='object')

0